body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.titulo {
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
    margin: 1.25rem;
}

.input-text:focus {
    outline: 2px solid #BDBDBD;
  }

.input-text {
    color: #BDBDBD;
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.mais65anos {
    font-size: 0.875rem;
    color: #666666;
}


.btn {
    border-radius: 2rem;
    padding: 1rem;
    color: black; 
    font-size: 16px;
    cursor: pointer;
    font-weight: 600; 
    transition: background-color 0.3s ease;
}

#btn-calcular:hover {   
    background-color: #45fefe8a;
  }

#btn-calcular{
  background-color: #45FEFE;
  border: none; 
}

#btn-entenda:hover {   
    background-color: #45fefe34;
  }

#btn-entenda{
    border: 4px solid #45FEFE; 
    background-color: #fff; 
}