@import "./app.css"; 


.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.imagem .logo img {
    max-width: 100%;
}

.imagem .logo {
    width: 30%;
    border-radius: 10px;
    border: 3px solid var(--cor-button);
    margin: 0 auto; /* Adiciona margin auto para centralizar */
}

.titulo {
    font-size: 1.5rem;
    margin-bottom: 20px; /* Adiciona um espaço abaixo do título */

}

.input-text-history {
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor-gray02);
    outline: none;
    border-radius: 20px;
    background-color: var(--cor-gray01);
    padding: 0 10px;
    margin-bottom: 20px;
    border: 2px solid var(--cor-gray01);

}

.input-text-history::placeholder {
    color: var(--cor-gray02);

}

.history {
    padding: 10px;


}

.card {
    display: flex;
    margin-top: 20px;

}

.card .card-history {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 8px;

}

.card .card-history-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--cor-gray01);

}

.card-history .history-log {
    border-radius: 10px;
    background-color: var(--cor-gray01);
    width: 50px;
    height: 50px;

}

.card-history-head {
    display: flex;
    margin: 3px 0px;

}

.title,
.card-history-head .time-history {
    width: 50%;
    text-align: left;
    color: var( --color-font);

}

.card-history-head .time-history {
    padding: 0px 5px;
    text-align: end;


}

.text-history {
    font-size: 13px;
    margin: 3px 0px;
    margin-bottom: 10px;
    text-align: left;
    color: var( --color-font);

}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .imagem .logo {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .imagem .logo {
        width: 70%;
    }
}


.custom-icon-verde{
    color: green;
  }

.custom-icon-vermelho{
    color: red;
}

