/* Media query para telas menores */
@media screen and (max-width: 600px) {
    .titulo {
        font-size: 1.5rem;
    }

    .input-text {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}